.item_details__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: white;
    padding: 2rem;
    margin: 4rem;
    border-radius: 10px;
    box-shadow: 4px 6px 15px #00000010;
    max-width: 1200px;
    align-self: center;
}

.item_detail__column{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    border-left: solid 1px #00000015;
}

.item_detail__title{
    font-weight: 500;
    font-size: 230%;
    margin-left: 1rem;
}

.item_detail__price{
    font-weight: 400;
    color: cornflowerblue;
    font-size: 200%;
    margin: 0.25rem 0 1rem 0;
    margin-left: 1rem;
}

.item_detail__description{
    line-height: 1.5rem;
    border-top: solid 1px #00000015;
    padding-top: 0.5rem;
    padding-left: 1rem;
}

.item_details__image{
    height: 100%;
    width: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover;
}