.navbar{
    background-color: #ffbd4b;
    color: #303030;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px #00000020;
}

.navbar_wrapper{
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
    padding: 0 2rem;
    width: 100%;
}

.navbar div {
    place-self: center;
}

.navbar__link{
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: #303030;
    cursor: pointer;
    text-transform: capitalize;
}

.navbar__link.active{
    color: cornflowerblue;
}

.navbar__link:hover{
    color: cornflowerblue;
    transform: scale(1.05);
}

.navbar__logo{
    display: inline-block;
    padding: 0.5rem;
    font-weight: 800;
    font-size: 190%;
    cursor: pointer;
    text-decoration: none;
    color: #303030;
}
.navbar__logo:hover{
    color: cornflowerblue;
}